In [1]:
import pandas as pd
from IPython.core.display import display
df = pd.read_csv('./files/unit_1/python-8-movies/movie_bd_v5.csv')
display(df.head(3))
df.info()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [38]:
# Вопрос 1. У какого фильма из списка самый большой бюджет?
df.sort_values(by='budget', ascending=False).iloc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

In [41]:
# Вопрос 2. Какой из фильмов самый длительный (в минутах)?
df.sort_values(by='runtime', ascending=False).iloc[0].original_title

'Gods and Generals'

In [43]:
# Вопрос 3. Какой из фильмов самый короткий (в минутах)?
df.sort_values(by='runtime').iloc[0].original_title

'Winnie the Pooh'

In [47]:
# Вопрос 4. Какова средняя длительность фильмов?
round(df.runtime.mean())

110

In [52]:
# Вопрос 5. Каково медианное значение длительности фильмов?
round(df.runtime.median())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015

In [2]:
# Добавляем новую feature - столбец profit
profit = df.revenue - df.budget
df.insert(3, 'profit', profit)

In [66]:
# Вопрос 6. Какой фильм самый прибыльный?
df.sort_values(by='profit').iloc[-1]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
profit                                                         2544505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
Name: 239, dtype: object

In [68]:
# Вопрос 7. Какой фильм самый убыточный?
df.sort_values(by='profit').iloc[0]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
profit                                                         -165710090
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [71]:
# Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
len(df[df.revenue > df.budget])

1478

In [79]:
# Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?
df[df.release_year == 2008].sort_values('profit').iloc[-1].original_title

'The Dark Knight'

In [98]:
# Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?
df[df.release_year.between(2012, 2014)].sort_values('profit').iloc[0].original_title

'The Lone Ranger'

In [3]:
df = pd.read_csv('./files/unit_1/python-8-movies/movie_bd_v5.csv')
profit = df.revenue - df.budget
df.insert(3, 'profit', profit)

# Вопрос 11. Какого жанра фильмов больше всего?

df2 = df

# Способ 1: работая только с одной серией genres, через конкатенацию всех строк, сплитом её в лист,
# конвертацией листа в серию, подсчетом количества значений в серии

# 1. Выделяем серию df2['genres']
# 2. Конкатенируем все значения в ней с разделителем = '|' .str.cat(sep='|'), получая мегастроку
# 3. Разделяем мегастроку по разделителю, получаем лист .split('|')
# 4. Лист конвертируем в серию, чтобы можно было считать pd.Series
# 5. Подсчитываем количество вхождений .value_counts()
genres_by_count = pd.Series(df2['genres'].str.cat(sep='|').split('|')).value_counts()
top_genre = genres_by_count.index[0]
display(top_genre)

# Способ 2: более продвинутый. Конвертируем строку genres в лист. Разворачиваем (explode) листы в genres, делая
# в каждой строке не по листу, а по одному элементу листа. Датафрейм при этом разрастается. УУуу мощь
df2.genres = df2['genres'].str.split('|')
genres_by_count = df2.explode('genres').groupby('genres').size().sort_values()
top_genre = genres_by_count.index[-1]
display(top_genre)

'Drama'

'Drama'

In [434]:
# Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

profitable_genres_by_profit = df2[df2.profit > 0].explode('genres').groupby('genres').size().sort_values()
most_profitable_genre = profitable_genres_by_profit.index[-1]
most_profitable_genre

'Drama'

In [4]:
# Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

df2.director = df2.director.str.split('|')
directors_by_revenue = df2.explode('director').groupby('director').revenue.sum().sort_values()
directors_by_revenue

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 997, dtype: int64

In [490]:
# Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?
most_action_director = df2[df2.genres.apply(lambda x: '|'.join(x)).str.contains('Action')].explode('director').groupby('director').size().sort_values()
most_action_director.index[-1]

'Robert Rodriguez'

In [259]:
# самые часто снимающиеся актеры, вне задания, потому commented
# actors_extracted = df2.cast.str.extract(r'([^|]+)', expand=False)
# actors_by_frequency = df2.groupby(actors_extracted).size().reset_index(name='count').sort_values('count')
# actors_by_frequency

In [495]:
# Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# Способ 1: костылём подпертый, возможно даже и неправильный, но ответ совпал
answers = {'Nicolas Cage', 'Tom Hardy', 'Chris Hemsworth', 'Jim Strurgess', 'Emma Stone'}
cast_of_most_revenued_movie = set(df2[df2.release_year == 2012].sort_values('revenue', ascending=False).iloc[0].cast.split('|'))

matched_actor = []
for actor in cast_of_most_revenued_movie:
    if actor in answers:
        matched_actor.append(actor)

matched_actor

In [5]:
# Способ 2: православный способ, корректный и чоткий
df2.cast = df2.cast.str.split('|')

In [510]:
cast_of_most_revenued_movie = df2[df2.release_year == 2012].explode('cast').groupby('cast').revenue.sum().sort_values()
matched_actor = cast_of_most_revenued_movie.index[-1]
matched_actor

'Chris Hemsworth'

In [514]:
# Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.

# budget _mean = 54310829.63843303
high_budget_films_by_actors = df2[df2.budget > df2.budget.mean()].explode('cast').groupby('cast').size().sort_values()
high_budget_films_by_actors.index[-1]

'Matt Damon'

In [6]:
# Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

genres_by_nicolas_cage = df2[df2.cast.apply(lambda x: '|'.join(x)).str.contains('Nicolas Cage')].explode('genres').groupby('genres').size().sort_values()
genres_by_nicolas_cage.index[-1]

In [7]:
# Вопрос 18. Самый убыточный фильм от Paramount Pictures?

df2.production_companies = df2.production_companies.str.split('|')

In [547]:
# df2
less_valuable_movie_by_paramount_pictures = df2[df2.production_companies.apply(lambda x: '|'.join(x)).str.contains('Paramount Pictures')].explode('production_companies').groupby('original_title').profit.min().sort_values()
less_valuable_movie_by_paramount_pictures.index[0]

'The Lone Ranger'

In [553]:
# Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

years_by_revenue_sum = df2.groupby('release_year').revenue.sum().sort_values()
most_valuable_year = years_by_revenue_sum.index[-1]
most_valuable_year

2015

In [557]:
# Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

most_valuable_year_by_warner_bros = df2[df2.production_companies.apply(lambda x: '|'.join(x)).str.contains('Warner Bros')].explode('production_companies').groupby('release_year').profit.sum().sort_values()
most_valuable_year_by_warner_bros.index[-1]

2014

In [6]:
# Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

import datetime as dt
df2.release_date = pd.to_datetime(df2.release_date)

In [8]:
months = df2.release_date.dt.month
df_temp = df2.copy()
df_temp['months'] = months
movies_amount_by_months = df_temp.groupby('months').size().sort_values()
most_released_month = movies_amount_by_months.index[-1]
most_released_month

AttributeError: Can only use .dt accessor with datetimelike values

In [15]:
# Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?
movies_count_by_summer_months = df_temp[df_temp.months.isin([6, 7, 8])]
len(movies_count_by_summer_months)

450

In [19]:
# Вопрос 23. Для какого режиссера зима — самое продуктивное время года?

movies_count_by_director_in_winter_months = df_temp[df_temp.months.isin([1, 2, 12])].explode('director').groupby('director').size().sort_values()
movies_count_by_director_in_winter_months.index[-1]

'Peter Jackson'

In [92]:
# prepare dataframe again, from one place
df = pd.read_csv('./files/unit_1/python-8-movies/movie_bd_v5.csv')
profit = df.revenue - df.budget
df.insert(3, 'profit', profit)
df.director = df.director.str.split('|')
df.cast = df.cast.str.split('|')
df.production_companies = df.production_companies.str.split('|')
df.release_date = pd.to_datetime(df.release_date)

In [95]:
# Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

title_length = df.original_title.apply(lambda x: len(x))
df_with_title_length = df.copy()
df_with_title_length['title_length'] = title_length
df_with_title_length.explode('production_companies').groupby('production_companies').title_length.mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: title_length, Length: 1771, dtype: float64

In [100]:
# Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

import re
overview_length = df['overview'].apply(lambda x: len(re.findall(r'\w+', x)))
df_with_overview_length = df.copy()
df_with_overview_length['overview_length'] = overview_length
df_with_overview_length.explode('production_companies').groupby('production_companies').overview_length.mean().sort_values()

production_companies
Motion Picture Corporation of America     11.0
Empire Pictures                           12.0
Projection Pictures                       13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         160.0
Heineken Branded Entertainment           163.0
Room 9 Entertainment                     169.0
98 MPH Productions                       170.0
Midnight Picture Show                    176.0
Name: overview_length, Length: 1771, dtype: float64

In [68]:
# Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?
answers_group_1 = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
answers_group_2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
answers_group_3 = ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
answers_group_4 = ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
answers_group_5 = ['Upside Down', 'Inside Out', 'Iron Man']

answers = []
answers.append(answers_group_1)
answers.append(answers_group_2)
answers.append(answers_group_3)
answers.append(answers_group_4)
answers.append(answers_group_5)

top_films = df[df['vote_average'] > df['vote_average'].quantile(0.99)].sort_values(by='vote_average').original_title.values

matched_group = []
for group in answers:
    counter = 0
    for top_film in top_films:
        if top_film in group:
            counter += 1
    if counter == len(group):
        matched_group = group
        break

matched_group

['Inside Out', 'The Dark Knight', '12 Years a Slave']

In [89]:
# Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

import re

cast_answers = {
    'group_1': ['Johnny Depp', 'Helena Bonham Carter'],
    'group_2': ['Ben Stiller', 'Owen Wilson'],
    'group_3': ['Vin Diesel', 'Paul Walker'],
    'group_4': ['Adam Sandler', 'Kevin James'],
    'group_5': ['Daniel Radcliffe', 'Rupert Grint'],
}

matched = {}

for row in df.cast.iteritems():
    actor_list = row[1]
    counter = 0
    for group_name, group_values in cast_answers.items():
        for actor in group_values:
            if actor in actor_list:
                counter += 1

            if counter == len(group_values):
                if group_name in matched:
                    matched[group_name] += 1
                else:
                    matched[group_name] = 1

matched

{'group_3': 29, 'group_4': 39, 'group_5': 52, 'group_2': 18, 'group_1': 6}